<ul>
  <li><%= link_to "Home", root_path %></li>
</ul>

<main>
    <h1>Константин Тарасов</h1>
    <h2>Стажер</h2>
    <hr>
    <section>
        <h2>Ключевые навыки:</h2>
        <ul>
            <li>Ruby On Rails</li>
            <li>Ruby</li>
            <li>SQL</li>
        </ul>
    </section>
    <section>
        <h2>Учусь программировать на курсах</h2>
        <p>...</p>
    </section>
</main>